body {
  width: 100vw;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  font-size: 21px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #1B242F;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav > span {
  margin: 0.5em;
  color: #BDFF00;
  text-decoration: none;
  font-size: 24px;
}

nav > span:hover {
  color: #e31b6d;
  transition: color 0.2s;
}

section, nav {
  width: 100%;
}

.odd-section {
  background-color: #F1F1F2;
}

.even-section {
  background-color: #FFE9D3;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  margin-top: calc(24px + 1em);
  padding-top: 2em;
  padding-bottom: 2em;
}

#intro {
  min-height: 38vh;
}

#subtitle {
  color: #00736C;
  font-size: 18px;
}

#profile {
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  margin-bottom: 3em;
}

#name {
  margin: 0;
}

.title {
  font-size: 36px;
}

.secondary-title {
  font-size: 24px;
}

.title {
  padding: 1em 0 1em 0;
}

.title, .secondary-title, .center {
  max-width: min-content;
  margin: auto;
  user-select: none;
  white-space: nowrap; 
}

.content {
  margin: auto;
  width: 65%;
  padding-bottom: 2em;
}

#about p {
  margin-top: 0;
}

.skills-category {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 2em;
  min-height: calc(24px + 1em);
}

.skills-category > .secondary-title {
  padding: 0.5em;
}

#programming-languages {
  background-color: #F4CC70;
}

#web {
  background-color: #DE7A22;
}

#automation {
  background-color: #6AB187;
}

#display-options {
  margin: auto;
  position: relative;
  color: #717171;
  width: fit-content;
  opacity: 1;
}

#display-options span {
  margin: 0.5em;
}

svg {
  vertical-align: text-bottom;
}

#contact p {
  text-align: center;
  margin-top: 0;
  font-size: 22px;
}

#email {
  text-decoration: none;
  color: black;
}

.fa {
  padding: 20px;
  font-size: 30px !important;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

hr {
  border: 1px solid white;
  width: 80%;
  margin: 0 auto;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.horizontal-list {
  animation: slideInRight 0.75s ease forwards;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: calc(100% - 1px);
}

.skill > img {
  width: 40px;
  height: 40px;
  display: block;
}

.hidden {
  display: none;
}

.skill-list-wrapper {
  margin: auto;
  width: 65%;
  height: 100px;
}

#react-icon {
  width: 60px;
}

#sql-icon, #selenium-icon {
  width: 50px;
  height: 50px;
}

.selectable {
  cursor: pointer;
}

#highlight {
  background-color: #09F6AF;
  position: absolute;
  left: 10px;
  top: 0;
  width: 59px;
  height: 25px;
  transition: all 0.5s ease-in-out;
}

.option {
  padding: 0 0.5em;
  position: relative;
  z-index: 1;
}

.active {
  color: black;
}