body {
  width: 100vw;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  font-size: 21px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #1B242F;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

nav > span {
  margin: 0.5em;
  color: #BDFF00;
  text-decoration: none;
  font-size: 24px;
}

nav > span:hover {
  color: #e31b6d;
  transition: color 0.2s;
}

section, nav {
  width: 100%;
}

.odd-section {
  background-color: #F1F1F2;
}

.even-section {
  background-color: #FFE9D3;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  margin-top: calc(24px + 1em);
  padding-top: 2em;
  padding-bottom: 2em;
}

#intro {
  min-height: 38vh;
}

#subtitle {
  color: #00736C;
  font-size: 18px;
}

#profile {
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  margin-bottom: 3em;
}

#name {
  margin: 0;
}

.title {
  font-size: 36px;
}

.secondary-title {
  font-size: 24px;
}

.title {
  padding: 1em 0 1em 0;
}

.title, .secondary-title, .center {
  max-width: min-content;
  margin: auto;
  user-select: none;
  white-space: nowrap; 
}

.center {
  text-align: center;
}

.content {
  margin: auto;
  width: 65%;
  padding-bottom: 2em;
}

#about p {
  margin-top: 0;
}

.skills-category {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 2em;
  min-height: calc(24px + 1em);
  transition: all 0.2s;
}

.skills-category > .secondary-title {
  padding: 0.5em;
}

.skills-category > * {
  user-select: none;
}

#programming-languages {
  background-color: rgb(244,204,112);
}

#programming-languages:hover {
  background-color: rgba(244,204,112, 0.5);
}

#web {
  background-color: rgb(222,122,34);
}

#web:hover {
  background-color: rgba(222,122,34, 0.5);
}

#data-processing {
  background-color: rgb(106,177,135);
}

#data-processing:hover {
  background-color: rgba(106,177,135, 0.5);
}

#display-options {
  margin: auto;
  position: relative;
  color: #717171;
  width: fit-content;
  opacity: 1;
}

#display-options span {
  margin: 0.5em;
}

svg {
  vertical-align: text-bottom;
}

#contact p {
  text-align: center;
  margin-top: 0;
  font-size: 22px;
}

#email {
  text-decoration: none;
  color: black;
}

.fa {
  padding: 20px;
  font-size: 30px !important;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

hr {
  border: 1px solid white;
  width: 80%;
  margin: 0 auto;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.horizontal-list {
  animation: slideInRight 0.75s ease forwards;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: calc(100% - 1px);
}

.skill > img {
  width: 40px;
  height: 40px;
  display: block;
}

.hidden {
  display: none;
}

.skill-list-wrapper {
  margin: auto;
  width: 65%;
  height: 100px;
}

#react-icon {
  width: 60px;
}

#sql-icon, #selenium-icon {
  width: 50px;
  height: 50px;
}

.selectable {
  cursor: pointer;
  transition: all 0.2s;
}

.selectable:hover {
  scale: 1.2;
}

#highlight {
  background-color: #09F6AF;
  position: absolute;
  left: 10px;
  top: 0;
  width: 59px;
  height: 25px;
  transition: all 0.5s ease-in-out;
}

.option {
  cursor: pointer;
  padding: 0 0.5em;
  position: relative;
  z-index: 1;
}

.active {
  cursor: default;
  color: #ff4e02;
  font-weight: bold;
}

.card {
  position: relative;
  margin: 1em 0;
  text-align: center;
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 0.5em;
  height: 270px;
  margin: 0.5em;
  overflow: hidden;
  transition: transform 0.2s;
}

.card > img {
  border-radius: 10px;
  width: 400px;
  height: 220px;
  transition: all 0.3s;
  box-shadow: 0px 0px 30px 5px grey;
}

.card h7 {
  display: block;
  padding: 0.6em 0;
  transition: all 0.3s;
}

.card-content {
  display: none;
}

.card-content span {
  display: block;
  margin: auto;
}

.card-subtitle {
  font-size: 15px;
  color: #09F6AF;
}

.card button {
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 60%;
  border: solid 1px #BDFF00;
  background-color: transparent;
  color: #BDFF00;
  padding: 1em 0;
  margin-top: 12%;
}

.card:hover {
  transform: scale(1.05);
  z-index: 1;
}

.card button:hover, .project-images a {
  background-color: #BDFF00;
  color: black;
}

.card:hover .card-content {
  display: block;
  width: calc(100% - 1em);
  position: absolute;
  top: 40%;
}

.card:hover img {
  opacity: 0;
}

.card:hover h7 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 10%;
}

#galary {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  flex-wrap: wrap;
}

.slideUp {
  animation: slideInUp 0.75s ease;
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#popup {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

#image-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}

.project-images > * {
  display: none;
  width: 100%;
  animation: fadeIn 1s ease;
}

#image-slider #prev {
  left: 0;
  transform: translateX(-120%);
}

#image-slider #next {
  right: 0;
  transform: translateX(120%);
}


#image-slider #prev, #image-slider #next {
  position: absolute;
  top: 35%;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  transition: 0.4s ease;
  color: white;
  border-radius: 5px;
  font-size: 40px;
  padding: 0.5em;
}

#image-slider #prev:hover, #image-slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.fade-in {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.selected, .dot:hover {
  background-color: white;
}

#indicies {
  text-align: center;
  margin-top: 1em;
}

#image-slider .project-images {
  display: none;
}

.project-images .project-description {
  color: white;
  width: 100%;
  min-height: 50vh;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
}

.project-description h3 {
  color: #BDFF00;
}

.project-description p {
  margin-top: 0;
}

.project-images a {
  padding: 1em 2em;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.3s;
}

.project-images a:hover {
  background-color: transparent;
  color: #BDFF00;
  transform: scale(1.2);
}